.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 20px;
}

.section__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    border-bottom: 1px solid #ddd;
}

.section__button {
    border: none;
    background: none;
    font-size: 15px;
    color: teal;
}